# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [31]:
import pandas as pd

df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")



rename_map = {'ST': 'State', 'GENDER': 'Gender'}
df1 = df1.rename(columns=rename_map)
df2 = df2.rename(columns=rename_map)
df3 = df3.rename(columns=rename_map)

combined = pd.concat([df1, df2, df3], ignore_index=True)

print("Filas df1:", len(df1))
print("Filas df2:", len(df2))
print("Filas df3:", len(df3))
print("Filas total tras concat:", len(combined))


#limpiamos costumer lifetime value
combined["Customer Lifetime Value"] = (combined["Customer Lifetime Value"].astype(str).str.replace("%", "", regex=False).str.replace(",", "", regex=False).astype(float) / 100)
#limpiamos number of open complaints
combined["Number of Open Complaints"] = (combined["Number of Open Complaints"].astype(str).str.split("/").str[1])
combined["Number of Open Complaints"] = pd.to_numeric(combined["Number of Open Complaints"],errors="coerce")
#Sustutuimos los valores nulos de la columna por "Unknown"
combined["Gender"] = combined["Gender"].fillna("Unknown")
#Estandarizamos los valores de la columna Education
combined["Education"] = combined["Education"].replace({
    "bacherlors": "Bachelor",
    "Bacherlors": "Bachelor",
    "Bachelors": "Bachelor"
})


combined.head(5)

Filas df1: 4008
Filas df2: 996
Filas df3: 7070
Filas total tras concat: 12074

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,Unknown,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.5359,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.4317,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.8618,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.0765,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
print("Filas df:", len(df))

df["revenue"] = (df["monthly_premium_auto"] * df["months_since_policy_inception"]- df["total_claim_amount"])

pivot_revenue = df.pivot_table(
    index="sales_channel",    # canal de venta
    values="revenue",         # nuestra métrica nueva
    aggfunc="sum"             # suma total por canal
)

pivot_revenue = pivot_revenue.round(2)

print(pivot_revenue)


print(pivot_revenue)

pivot_clv = df.pivot_table(
    index="gender",                         # filas = género
    columns="education",                    # columnas = nivel educativo
    values="customer_lifetime_value",       # métrica
    aggfunc="mean"                          # promedio
)

# Redondeamos a 2 decimales para que sea más legible
pivot_clv = pivot_clv.round(2)

print(pivot_clv)

Filas df: 10910
                   revenue
sales_channel
Agent          16723854.18
Branch         12410465.00
Call Center     8449465.18
Web             6768943.96
                   revenue
sales_channel
Agent          16723854.18
Branch         12410465.00
Call Center     8449465.18
Web             6768943.96
education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here